.blur {
  border-radius: var(--border-radius);
}

.detailsWrapper {
 
  background: white;
  border-radius: var(--border-radius);

  tr {
    display: flex;
    flex-direction: column;
  }
}

.controlBtnWrapper {
  margin: 20px;
  display: flex;
  column-gap: 20px;
  width: 90%;
}