.MainPage {
    // color: var(--bg-color);
    height: 100vh;
    padding: 20px;
    background-image: url("../../../shared/assets/starWar.jpg");
    background-repeat: no-repeat;
    // background-size: cover;
    // background-size: 100% 100%;
}
